<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title><%= current_page.data.title || "The Kollegorna Manuals" %></title>

  <meta name="description" content="Become an awesome colleague and achieve eternal happiness by reading this.">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "modernizr" %>
</head>
<body>
  <%= partial "header" %>

  <article class="<%= current_page.data.body_classes %>">
    <%= yield %>
  </article>

  <%= partial "footer" %>
  <%= javascript_include_tag "application" %>
</body>
</html>
