<footer role="contentinfo" class="footer">
  <p>
    Be sure not to miss <a href="https://labs.kollegorna.se">our labs</a>.
    Or read about us <a href="https://www.kollegorna.se/english">in english</a> or
    <a href="https://www.kollegorna.se">på svenska</a>.
  </p>

  <p>Cover image by <a href="http://graphicriver.net/user/Dexav23">Deka Sepdian</a>.</p>

  <ul class="t-list-inline">
    <li>
      <a href="https://twitter.com/kollegorna">
        <%= image_tag 'icon-twitter.svg' %>
      </a>
    </li>
    <li>
      <a href="https://github.com/kollegorna">
        <%= image_tag 'icon-github.svg' %>
      </a>
    </li>
    <li>
      <a href="https://facebook.com/kollegorna">
        <%= image_tag 'icon-facebook.svg' %>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/kollegorna">
        <%= image_tag 'icon-instagram.svg' %>
      </a>
    </li>
  </ul>

  <p class="footer__cc">
    <a href="https://creativecommons.org/licenses/by/2.5/deed.en_US" title="All content is licensed with Creative Commons Attribution 2.5.">
      <%= image_tag 'icon-cc.svg' %>
      <%= image_tag 'icon-cc-attribution.svg' %>
    </a>
  </p>
</footer>
